.connect {
  position: relative;
  width: 100%;
  min-height: 100svh;
  background: url("../../images/del/bg-re-cay.png") var(--color-red);
  z-index: 1;
  &-top {
    padding: 80px 0 120px;
    &-img {
      margin-bottom: var(--space-80);
    }
    &-title {
      margin-bottom: var(--space-32);
    }
    &-desc {
      max-width: 50%;
      text-align: center;
    }
  }
  &-list-photo {
    display: flex;
    flex-direction: column;
  }
  &-row {
    display: grid;
    grid-template-columns: 1fr 1fr;

    &.three-col {
      grid-template-columns: 1fr 1fr 1fr;

      .connect-box {
        aspect-ratio: 480 / 720;
        overflow: hidden;
      }

      .image {
        aspect-ratio: unset;
        width: 100%;
        height: 100%;
      }
    }
  }
  &-box {
    position: relative;
    width: 100%;
    aspect-ratio: 1;
    .image {
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .content {
      position: absolute;
      left: 20px;
      bottom: 170px;
      letter-spacing: 0.2rem;
    }
  }
}
.connect-row {
  position: relative;
  z-index: 1;
  // background-color: var(--color-red);

  &.three-col {
    z-index: 2;
  }
}
