.liberate {
  background-color: var(--color-brown-med);
  position: relative;
  width: 100%;
  min-height: 100svh;
  &-top {
    padding: 120px 0;
    &-img {
      margin-bottom: var(--space-80);
    }
    &-title {
      margin-bottom: var(--space-32);
    }
    &-desc {
      max-width: 50%;
      text-align: center;
    }
  }
}
