:root {
  // font

  --font-heading: "Platypi", sans-serif;
  --font-body: "Manrope", sans-serif;
  // color
  --color-gold-med: #fdd0a4;
  --color-gold-light: #decdb1;
  --color-green-dark: #262e17;
  --color-green-med: #40492a;
  --color-green-light: #f2f5e4;

  --color-brown-dark: #49392d;
  --color-brown-med: #4b3b31;

  --color-red: #5e3131;
  --color-red-dark: #854b20;
  --color-red-light: #e6dccb;
  --color-white: #fffefc;

  // transition
  --tt-medium: all 0.4s ease;
  //spacing
  --space-20: 20px;
  --space-8: 8px;
  --space-16: 16px;
  --space-24: 24px;
  --space-32: 32px;
  --space-40: 40px;
  --space-48: 48px;
  --space-56: 56px;
  --space-64: 64px;
  --space-72: 72px;
  --space-80: 80px;
  --spacing-padding: 120px 40px;
}
@media (max-width: 991px) {
  :root {
    // spacing mobile
    --space-8: 8px;
    --space-16: 8px;
    --space-24: 16px;
    --space-32: 24px;
    --space-40: 32px;
    --space-48: 40px;
    --space-56: 48px;
    --space-64: 56px;
    --space-72: 64px;
    --space-80: 72px;
    --spacing-padding: 64px 16px;
  }
}
// font variable
.font-heading {
  font-family: var(--font-heading);
}
.font-body {
  font-family: var(--font-body);
}
.heading-1 {
  font-size: 63px;
  line-height: 1.5;
}
.heading-2 {
  font-size: 24px;
  line-height: 1.4;
}
.heading-3 {
  font-size: 14px;
  line-height: 1.2;
}
.b-font {
  font-size: 14px;
  line-height: 1.6;
}
.sub-font {
  font-size: 11px;
  line-height: 1.1;
}
.fw-regular {
  font-weight: 400;
}
.fw-bold {
  font-weight: bold;
}
.fw-semibold {
  font-weight: 600;
}
.fs-italic {
  font-style: italic;
}
// color variable
.color-black {
  color: var(--color-black);
}
.color-white {
  color: var(--color-white);
}
// Gold
.text-gold-med {
  color: var(--color-gold-med);
}
.bg-gold-med {
  background-color: var(--color-gold-med);
}

.text-gold-light {
  color: var(--color-gold-light);
}
.bg-gold-light {
  background-color: var(--color-gold-light);
}
.text-color-white {
  color: var(--color-white);
}
.bg-color-white {
  background-color: var(--color-white);
}
// Green
.text-green-dark {
  color: var(--color-green-dark);
}
.bg-green-dark {
  background-color: var(--color-green-dark);
}

.text-green-med {
  color: var(--color-green-med);
}
.bg-green-med {
  background-color: var(--color-green-med);
}

.text-green-light {
  color: var(--color-green-light);
}
.bg-green-light {
  background-color: var(--color-green-light);
}

// Brown
.text-brown-dark {
  color: var(--color-brown-dark);
}
.bg-brown-dark {
  background-color: var(--color-brown-dark);
}

.text-brown-med {
  color: var(--color-brown-med);
}
.bg-brown-med {
  background-color: var(--color-brown-med);
}

// Red
.text-red {
  color: var(--color-red);
}
.bg-red {
  background-color: var(--color-red);
}

.text-red-dark {
  color: var(--color-red-dark);
}
.bg-red-dark {
  background-color: var(--color-red-dark);
}

.text-red-light {
  color: var(--color-red-light);
}
.bg-red-light {
  background-color: var(--color-red-light);
}
.limit-width {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}
.tst-ease {
  transition: var(--tt-medium);
}
@media (min-width: 1024px) {
  .limit-11-col {
    max-width: calc(calc(11 / 12) * 100%);
    width: 100%;
    margin: 0 auto;
  }
  .limit-10-col {
    max-width: calc(calc(10 / 12) * 100%);
    width: 100%;
    margin: 0 auto;
  }
  .limit-9-col {
    max-width: calc(calc(9 / 12) * 100%);
    width: 100%;
    margin: 0 auto;
  }
  .limit-8-col {
    max-width: calc(calc(8 / 12) * 100%);
    width: 100%;
    margin: 0 auto;
  }
  .limit-7-col {
    max-width: calc(calc(7 / 12) * 100%);
    width: 100%;
    margin: 0 auto;
  }
  .limit-6-col {
    max-width: calc(calc(6 / 12) * 100%);
    width: 100%;
    margin: 0 auto;
  }
}
