.vision {
  position: relative;
  width: 100%;
  height: 100svh;
  overflow: hidden;
  background: url("../../images/del/bg-re-cay.png") var(--color-green-med);
  background-position: bottom;
  &-inner {
  }
}
