<div class="footer-container">
  <div class="footer-top d-flex justify-content-center align-items-center">
    <a href="" class="footer-logo-big">
      <img src="./assets/images/del/logo-footer-big.svg" alt="" />
    </a>
  </div>
  <div class="footer-main footer-grid">
    <div class="footer-col information">
      <div class="address">
        <div class="label b-font color-white">Địa chỉ</div>
        <div class="desc b-font color-white fw-bold">
          Đường Trần Hưng Đạo, <br />Tuyến Quản Lộ - Phụng Hiệp, <br />Phường
          Tân Thành ,<br />
          Thành phố Cà Mau
        </div>
      </div>
      <div class="hotline">
        <div class="label b-font color-white">Điện thoại</div>

        <a
          href="tel:096 35 123 79"
          class="b-font color-white fw-bold hover-underline-white"
          >096 35 123 79</a
        >
      </div>
    </div>
    <div class="footer-col footer-logo">
      <a href="" class="logo-simple">
        <img src="./assets/images/del/logo-big.svg" alt="" />
      </a>
    </div>
    <div class="footer-col footer-menu">
      <ul>
        <li>
          <a
            href=""
            class="b-font color-white fw-semibold hover-underline-white"
            >Trang chủ</a
          >
        </li>
        <li>
          <a
            href=""
            class="b-font color-white fw-semibold hover-underline-white"
            >Tiện ích</a
          >
        </li>
        <li>
          <a
            href=""
            class="b-font color-white fw-semibold hover-underline-white"
            >Câu chuyện</a
          >
        </li>
        <li>
          <a
            href=""
            class="b-font color-white fw-semibold hover-underline-white"
            >Tin tức</a
          >
        </li>
        <li>
          <a
            href=""
            class="b-font color-white fw-semibold hover-underline-white"
            >Phân khu</a
          >
        </li>
        <li>
          <a
            href=""
            class="b-font color-white fw-semibold hover-underline-white"
            >Thư viện</a
          >
        </li>
        <li>
          <a
            href=""
            class="b-font color-white fw-semibold hover-underline-white"
            >Vị trí</a
          >
        </li>
        <li>
          <a
            href=""
            class="b-font color-white fw-semibold hover-underline-white"
            >Liên hệ</a
          >
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-bottom footer-grid">
    <div class="footer-col footer-terms">
      <ul>
        <li>
          <a
            href=""
            class="b-font text-gold-light fw-semibold hover-underline-gold-light"
            >Quy định chung</a
          >
        </li>
        <li>
          <a
            href=""
            class="b-font text-gold-light fw-semibold hover-underline-gold-light"
            >Chính sách</a
          >
        </li>
        <li>
          <a
            href=""
            class="b-font text-gold-light fw-semibold hover-underline-gold-light"
            >Điều khoản bảo mật</a
          >
        </li>
      </ul>
    </div>
    <div class="footer-col copy-right">
      <p class="b-font text-gold-light fw-semibold">© 2026 Happy Home Ca Mau</p>
    </div>
    <div class="footer-col footer-author">
      <a
        href="https://alphacreative.vn/"
        target="_blank"
        class="b-font text-gold-light fw-semibold hover-underline-gold-light"
        >Website Design by Alpha Creative</a
      >
    </div>
  </div>
</div>
