<div class="header-container">
  <div class="header-left d-flex align-items-center">
    <div class="header-ham">
      <span></span>
      <span></span>
    </div>
    <div class="header-name b-font font-body fw-bold text-color-white tst-ease">
      Happy Home Cà Mau
    </div>
  </div>
  <div class="header-logo">
    <a href="./index.html">
      <img src="./assets/images/icons/logo.svg" alt="" />
    </a>
  </div>
  <div class="header-right d-flex align-items-center justify-content-end">
    <div class="header-contact d-flex align-items-center justify-content-end">
      <div class="label font-body b-font fw-semibold text-color-white tst-ease">
        Tư vấn
      </div>
      <a
        href=""
        class="phone b-font font-body fw-bold text-color-white tst-ease hover-underline-white"
        >096 35 123 790</a
      >
    </div>
  </div>
</div>
