<div class="header-container">
  <div class="header-left">
    <div class="header-ham"></div>
    <div class="header-name b-font font-body fw-bolder">Happy Home Cà Mau</div>
  </div>
  <div class="header-logo">
    <a href="./index.html">
      <img src="./assets/images/icons/logo.svg" alt="" />
    </a>
  </div>
  <div class="header-right">
    <div class="header-contact d-flex align-items-center justify-content-end">
      <div class="label">Tư vấn</div>
      <a href="" class="phone">096 35 123 790</a>
    </div>
  </div>
</div>
